.contact-form {
	margin: 0 auto;
	text-align: left;
	width: 90%;
}


.contact-form__validation {
	display: block;
	text-align: left;
}

.contact-form__button {
	margin: .5em 0;
	width: 100%;
}

.contact-form__button {
	background: transparent;
	border: 1px solid #B72E2E;
	color: #B72E2E;
	display: inline-block;
	margin-top: 1em;
	width: 100%;
}

.contact-form__button:hover,
.contact-form__button:focus {
	background-color: #B72E2E;
	color: #fff;
}

.contact-form__address {
	color: #666;
	margin: 1em 0;
	text-align: center;
}